streamlit
langchain
langchain-community
pypdf
pymupdf
langchain-text-splitters
langchain_huggingface
faiss-cpu
langchain_chroma
langchain-groq
langchain-core
protobuf==3.20.3
pysqlite3-binary
python-dotenv
